<template>
  <div class="fullHeight">
    <codemirror
      ref="myCm"
      :value="textCode"
      :options="cmOptions"
      @ready="onCmReady"
      @focus="onCmFocus"
      @input="onCmCodeChange"
    ></codemirror>
  </div>
</template>
 
<script>
// language js
import { codemirror } from "vue-codemirror";
// theme css
import "../../node_modules/codemirror/lib/codemirror.css";
import "../../node_modules/codemirror/theme/paraiso-dark.css";
import "../../node_modules/codemirror/mode/yaml/yaml.js";

// more codemirror resources
// import 'codemirror/some-resource...'
export default {
  props: ["textCode"],
  data() {
    return {
      cmOptions: {
        // codemirror options
        code: "textCode",
        tabSize: 4,
        mode: "text/yaml",
        theme: "paraiso-dark",
        lineNumbers: true,
        line: true,
        lineWrapping: true
      }
    };
  },
  methods: {
    onCmReady(cm) {
      console.log("the editor is readied!", cm);
    },
    onCmFocus(cm) {
      console.log("the editor is focus!", cm);
    },
    onCmCodeChange(newCode) {
      // console.log("this is new code", newCode);
      this.code = newCode;
      this.$emit("finished", this.code);
    }
  },
  computed: {
    codemirror() {
      return this.$refs.myCm.codemirror;
    }
  },

  components: {
    codemirror
  }
};
</script>
<style>
.CodeMirror {
  font-size: 15px;
  height: 90vh;
}
</style>
