

<template>
  <div>
    <table ref="pdf" class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Cost/Unit</th>
          <th>Total</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <tr class="is-selected">
          <th :json="json">{{ json[0].bomName }}</th>
          <th></th>
          <th></th>
          <th :json="json">{{ sumItemsText }}</th>
          <th></th>
        </tr>
        <tr v-for="(node, index) in mapped" :key="index">
          <th>{{ node.i }}</th>
          <th>{{ node.q }}</th>
          <th class="right">{{currency}}{{ node.cp }}</th>
          <th class>{{ currency }} {{ node.totalItem.toFixed(2) }}</th>
          <th class="url">
            <a v-if="node.url!==null" ref="links" :href="node.url" target="_blank">purchase link</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import jsPDF from "jspdf";

export default {
  props: ["json"],
  data: function() {
    return {
      currency: "$"
    };
  },
  computed: {
    mapped: function() {
      return this.json.map(item => {
        return {
          ...item,
          totalItem: item.cp * item.q
        };
      });
    },
    sumItems: function() {
      return this.mapped.reduce(
        (accumulator, item) => accumulator + item.totalItem,
        0
      );
    },
    sumItemsText: function() {
      return `${this.currency}${this.sumItems}`;
    }
  }
};
</script>

<style>
.url {
  max-width: 100px;
  font-size: 0.8em;
}

.right {
  text-align: center;
}

.specs {
  width: 20%;
  font-size: 0.8em;
}
</style>
