<template>
  <label class="text-reader">
    load yaml file
    <input type="file" @change="loadTextFromFile">
  </label>
</template>

<script>
const toJson = require("js-yaml-pack");

export default {
  props: ["codeToText"],
  methods: {
    loadTextFromFile(ev) {
      let file = ev.target.files[0];
      const reader = new FileReader();

      reader.onload = e => {
        let store = e.target.result;
        this.json = toJson.yaml2json(store,'\n');
        this.$emit("json", this.json);
        this.text = store;
        this.$emit("load", this.text);
      };
      reader.readAsText(file);
    }
  }
};
</script>

<style>
textarea {
  width: 50%;
  height: 500px;
}

.text-reader input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
</style>
