<template>
  <div id="app" class>
    <div class="navbar is-fixed-top">
      <div class="navbar-item">
        <figure>
          <img src="../public/src/assets/logo.png" alt>
        </figure>
      </div>
      <div class="navbar-item">
        <text-reader class="button btnNavbar" :codeToText="text" @load="text = $event"></text-reader>
      </div>
      <div class="navbar-item">
        <a @click="on =!on" class="button btnNavbar">toggle editor</a>
      </div>
      <div class="navbar-item">
        <a @click="printPDF" class="button btnNavbar">Download Pdf</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a
            class="button btnNavbar"
            onclick="window.open('https://gitlab.com/go-commons/bomake','_blank');"
          >
            <span class="icon">
              <gitlab-icon/>
            </span>
            <span>Repository</span>
          </a>
        </div>
      </div>
    </div>
    <div class="contentWrapper">
      <div class="columns">
        <div v-if="on" class="column is-one-third"></div>
        <div v-if="on" class="column is-one-third fit">
          <code-mirror @finished="text = $event" :textCode="text"></code-mirror>
        </div>
        <div class="column">
          <div class="container is-fluid">
            <list id="table" :json="json"></list>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TextReader from "./components/TextReader";
import List from "./components/List";
import CodeMirror from "./components/CodeMirror.vue";
import GitlabIcon from "vue-material-design-icons/Gitlab.vue";

const html2pdf = require("html2pdf.js");
import { yaml2json } from "js-yaml-pack";

export default {
  name: "app",
  data: function() {
    return {
      text:
        "--- # This is how you start a new component/item\nbomName: Name of your BOM      \ni: Name of item                  \nq: 10                            # Quantity of item\ncp: 20                           # Cost per unit\nurl: https://www.amazon.com/CanaKit-Raspberry-Power-Supply-Listed/dp/B07BC6WH7V\n\n---  # This is the end of an item\ni: Another item\nq: 10\ncp: 80\nurl: # paste a url here\n\n---                              # Always end each item like shown in this line",
      on: true
    };
  },
  methods: {
    printPDF() {
      var element = document.getElementById("table");
      var opt = {
        margin: 0.5,
        filename: "myfile.pdf",
        image: { type: "png", quality: 0.98 },
        html2canvas: { scale: 3 },
        jsPDF: { unit: "in", format: "letter", orientation: "portrait" }
      };

      html2pdf()
        .set(opt)
        .from(element)
        .save();
    }
  },
  computed: {
    json() {
      return yaml2json(this.text, "\n");
    }
  },
  components: {
    TextReader,
    List,
    CodeMirror,
    GitlabIcon
  }
};
</script>

<style>
.donate {
  font-weight: bold;
  color: black !important;
  background-color: #f6c915 !important;
  border-width: 0em !important;
}

.overlap {
  position: absolute;
  z-index: 1;
}

.btnNavbar {
  color: #8a6a87 !important;
  background: #462c44 !important;
  border-width: 0em !important;
}
.contentWrapper {
  position: relative;
  top: 72px;
}

.navbar {
  padding: 10px;
  padding-left: 1em;
  background-color: rgb(20, 21, 29) !important;
}

.fit {
  position: fixed;
  height: 100vh;
  width: 600px;
  z-index: 1;
}

.editor > textarea {
  background-color: #1f2a3a;
  height: 100vh;
  color: #7cbcb4;
  padding-left: 1.8em;
  padding-top: 1.8em;
}

.table {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

textarea ::placeholder {
  color: #7aa09b;
  opacity: 1; /* Firefox */
}
</style>
